{% extends "base.html" %}
{% block content %}
    <h1>Movies for {{ user.name }}</h1>
    <ul>
        {% for movie in movies %}
            <li>
                <h2>{{ movie.name }}</h2>
                <form action="{{url_for('update_movie', user_id=user.id, movie_id=movie.id)}}" method="post">
                    <input type="text" name="new_title" placeholder="Enter new title" required>
                    <button type="submit">Update Title</button>
                </form>
                <img src="{{ movie.poster_url }}" alt="{{ movie.name }} poster" width="200">
                <p>Director: {{ movie.director }}</p>
                <p>Year: {{ movie.year }}</p>
            </li>
            <br>
            <!-- delete movie form -->
            <form action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}" method="post">
                <button type="submit">Delete Movie</button>
            </form>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{{ url_for('home') }}" class="btn">Back to Users</a>
    <br>
    <br>
    <form action="{{ url_for('add_movie', user_id=user.id) }}" method="post">
        <label for="title">Add New Movie:</label>
        <input type="text" name="title" placeholder="Enter a movie title" required>
        <button type="submit" class="btn">Add Movie</button>
    </form>
{% endblock %}